name: Package Verifier
on: [pull_request, push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install
        run: cd publisher && bun install --frozen-lockfile

      - name: Run Tests
        run: cd publisher && bun run test



